@import "../../shared//styles/variables";
@import "../../shared/styles/placeholders";

.bookId {
  @extend %flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $color-lightblue;

  .bookId__btnBack {
    @extend %flex-start;
    background-color: $color-white;
    width: 1220px;
    height: 75px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .bookId__buttonBack {
      @extend %flex-center;
      width: 70px;
      height: 35px;
      font-size: 12px;
      font-weight: 900;
      border-radius: 50px;
      border: 1px solid $color-darkblue;
      background: $color-linear-gradient;
      color: $color-darkblue;
      transition: 0.1s;
      cursor: pointer;
      margin-left: 25px;

      @media (max-width: 899px) {
        margin-left: 29px;
      }
      @media (max-width: 686px) {
        width: 65px;
        height: 30px;
        font-size: 11px;
        font-weight: 900;
      }
      @media (max-width: 414px) {
        font-size: 10px;
        font-weight: 700;
      }
      &:hover {
        transform: scale(1.02);
        background: $color-darkblue;
        color: $color-gold;
        border: 2px solid $color-gold;
      }
    }
    .bookId__box {
      @extend %flex-center2;
      width: 1220px;
      height: 100%;
      background-color: $color-white;
  
      @media (max-width: 1200px) {
        width: 100%;
      }
      @media (max-width: 899px) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
  }
}
