@import "../../shared//styles/variables";
@import "../../shared/styles/placeholders";

.bookId {
  @extend %flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $color-lightblue;
}
