@import "../../shared//styles/variables";
@import "../../shared/styles/placeholders";

.bookId {
  @extend %flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $color-lightblue;

  .bookId__btnBack {
    @extend %flex-start;
    background-color: $color-white;
    width: 1220px;
    height: 75px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}
