@import "../../shared/styles/variables";

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 20px;
}

.aboutText {
  margin: 0 50px 0 50px;
  text-align: justify;

  @media (max-width: 450px) {
    font-size: 14px;
  }
  @media (max-width: 500px) {
    margin: 0 30px 0 30px;
  }
  @media (max-width: 400px) {
    margin: 0 20px 0 20px;
  }
}
