@import "../../shared//styles/variables";
@import "../../shared/styles/placeholders";

.cart {
  @extend %flex-center;
  min-height: 100vh;
  background-color: $color-lightblue;

  .cart__container {
    @extend %flex-start;
    flex-direction: column;
    width: 1220px;
    min-height: 100vh;
    background-color: $color-white;
    padding-top: 30px;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .cart__buttons {
      @extend %flex-sb;
      width: 95%;
  }
}
