@import "../../shared/styles/variables";

.nopage {
    height: 100vh;
    color: $color-darkblue;
    font-size: 24px;
    font-weight: 600;

    .nopage p {
        font-family: "Montserrat Alternates", sans-serif;
      }