@import "../../shared/styles/variables";
@import "../../shared/styles/placeholders";

.books {
  @extend %flex-center;
  flex-direction: column;
  width: 100%;
  background-color: $color-lightblue;

  .books__mainContainer {
    @extend %flex-center2;
    width: 100%;
    min-height: 100vh;
    background-color: $color-lightblue;

    .books__container {
      @extend %flex-sa;
      flex-wrap: wrap;
      width: 1220px;
      min-height: 100vh;
      padding-left: 0px;
      background-color: $color-white;
      margin-top: 0px;
      margin-bottom: 0px;

      @media (max-width: 1200px) {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .books__box {
      @extend %flex-sb;
      flex-direction: column;
      margin: 0px 0px 20px 0px;
      width: 350px;
      height: 500px;
      border-radius: 15px;
      background-color: $color-grey;
      border: 2px solid $color-lightblue;
      box-shadow: 17px 17px 25px -26px $color-blue;
      transition: transform linear 0.1s;
      cursor: pointer;
      object-fit: contain;

      @media (max-width: 1110px) {
        width: 300px;
        height: 450px;
      }

      @media (max-width: 930px) {
        width: 280px;
        height: 430px;
      }
      @media (max-width: 630px) {
        width: 260px;
        height: 410px;
      }
      @media (max-width: 570px) {
        width: 250px;
        height: 400px;
      }

      &:hover {
        transform: scale(1.03);
      }

      .books__img {
        width: 90%;
        height: 75%;
        margin-top: 5px;
        border-radius: 15px;
        border: 1px solid $color-darkblue;
        object-fit: contain;
        background-color: $color-white;

        @media (max-width: 1110px) {
          width: 89%;
          height: 73%;
        }
        @media (max-width: 630px) {
          width: 88%;
          height: 72%;
        }
        @media (max-width: 570px) {
          width: 87%;
          height: 71%;
        }
      }
    }
  }
}
