@import "../../shared/styles/variables";
@import "../../shared/styles/placeholders";

.login {
    @extend %flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $color-lightgrey;

    .loginBox {
        @extend %flex-center;
        flex-direction: column;
        width: 350px;
        height: 450px;
        background-color: $color-lightblue;
        border-radius: 15px;
        border: 2px solid $color-gold;

        @media (max-width: 650px) {
            width: 300px;
            height: 420px;
          }
          @media (max-width: 450px) {
            width: 280px;
            height: 400px;
          }
          @media (max-width: 375px) {
            width: 270px;
            height: 385px;
          }
          @media (max-width: 360px) {
            width: 260px;
            // height: 460px;
          }

          .googleBtn {
            @extend %flex-center;
            width: 276px;
            height: 38px;
            font-size: 17px;
            font-weight: 500;
            font-family: "Open Sans", sans-serif;
            // border: 1px solid #dadce0;
            border: 1px solid $color-gold;
            border-radius: 20px;
            margin-bottom: 15px;
            background-color: #fff;
            color: #3c4043;
            cursor: pointer;

            &:hover {
                background-color: #f8f8f8;
              }
              @media (max-width: 650px) {
                width: 248px;
                // height: 43px;
              }
              @media (max-width: 450px) {
                width: 240px;
                height: 35px;
                font-size: 16px;
              }
              @media (max-width: 375px) {
                width: 230px;
                font-size: 15px;
              }
              @media (max-width: 360px) {
                width: 220px;
              }
            }
            .login__container2 {
              margin-top: 10px;
            }

            .login__container,
    .login__container2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      width: 350px;
      height: 340px;
      margin-bottom: 5px;

      @media (max-width: 650px) {
        width: 300px;
        // height: 400px;
      }
      @media (max-width: 450px) {
        width: 280px;
        // height: 360px;
      }
      @media (max-width: 375px) {
        width: 270px;
        // height: 340px;
      }
      @media (max-width: 358px) {
        width: 260px;
        // height: 335px;
      }
      .login__log {
        text-align: start;
        height: 40px;
        width: 276px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
        border: 2px solid $color-gold;
        padding: 10px;
        outline: none;
        margin: 15px 0px 15px 0px;

        @media (max-width: 650px) {
          height: 38px;
          width: 250px;
          font-size: 13px;
        }
        @media (max-width: 450px) {
          // height: 36px;
          width: 240px;
        }
        @media (max-width: 375px) {
          // height: 34px;
          width: 230px;
        }
        @media (max-width: 358px) {
          // height: 33px;
          width: 220px;
        }
        &::placeholder {
          color: rgba(165, 163, 163, 0.671);
        }
        &:focus {
          border: 2px solid $color-darkblue;
        }
      }
      .login__sign {
        text-align: start;
        height: 40px;
        width: 276px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
        border: 2px solid $color-gold;
        padding: 10px;
        outline: none;

        @media (max-width: 650px) {
          height: 38px;
          width: 250px;
          font-size: 13px;
        }

        @media (max-width: 450px) {
          height: 36px;
          width: 240px;
        }

        @media (max-width: 375px) {
          height: 34px;
          width: 230px;
        }
        @media (max-width: 358px) {
          height: 33px;
          width: 220px;
        }

                &::placeholder {
          color: rgba(165, 163, 163, 0.671);
        }
                &:focus {
          border: 2px solid $color-darkblue;
        }
      }
            .login__name {
        text-align: start;
        height: 40px;
        width: 276px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
        border: 2px solid $color-gold;
        padding: 10px;
        outline: none;
        margin-top: 40px;

        @media (max-width: 650px) {
          height: 38px;
          width: 250px;
          font-size: 13px;
          margin-top: 30px;
        }
        @media (max-width: 450px) {
          height: 36px;
          width: 240px;
          margin-top: 20px;
        }

        @media (max-width: 375px) {
          height: 34px;
          width: 230px;
        }
        @media (max-width: 358px) {
          height: 33px;
          width: 220px;
        }